# Beginner Python and Math for Data Science
## Lecture 5 - Part 1
### Introduction to Pandas

### Problem 1:

Create a Pandas series called *prob1_ser* using a dictionary, that has the country name as index and population as the values.  Here is the data set (from 2017):

    * China     1,409,517,397
    * India     1,339,180,127
    * USA         324,459,463
    * Indonesia   263,991,379
    * Brazil      209,288,278

Give the data a name equal to $Population$.

In [51]:
### Write code here
natl_pops = {'China':1409517397, 'India':1339180127, 'USA':324459463, 'Indonesia':263991379, 'Bazil':209288278, 'That was':'Easy'}
prob1_ser = pd.Series(natl_pops) # also ok to do prob1_ser.name = 'natl_pops'
prob1_ser

Bazil         209288278
China        1409517397
India        1339180127
Indonesia     263991379
That was           Easy
USA           324459463
dtype: object

__What is this?!__ Pandas automatically orders the array in alphabetical order of the dictionary's index values? Cool!

### Problem 2:

Create a Pandas DataFrame called *prob2_df* using a list of dictionaries that has 3 columns and 5 rows.  The column names are *Country Name*, *Population* and *Size* (which is in $km^2$).

      Country Name   Population          Size
    
    * China	   1,409,517,397     9,572,900
    * India       1,339,180,127     3,287,263
    * USA           324,459,463     9,629,091
    * Indonesia     263,991,379     1,904,556
    * Brazil        209,288,278     8,511,965

In [84]:
### Write code here
prob2_df = pd.DataFrame(
                [{'Country Name':'China', 'Population':1409517397, 'Size':9572900},
                 {'Country Name':'India', 'Population':1339180127, 'Size':3287263},
                 {'Country Name':'Usa', 'Population':324459463, 'Size':9629091},
                 {'Country Name':'Indonesia', 'Population':263991379, 'Size':1904556},
                 {'Country Name':'Brazil', 'Population':209288278, 'Size':8511965}],)

prob2_df

  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          Usa   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965

More fantastic examples of creating DataFrames from other objects, such as lists, can be found here along with examples of Row-Oriented vs Column Oriented DataFrames: http://pbpython.com/pandas-list-dict.html

# Note: All code for the creation and editing of CSV files was added to the curriculum BY THE STUDENT, for the student's sake.

And is used extensively for the remainder of this part of the curriculum to customize and explore the provided content.

##### Writing CSV files

In [86]:
#delete file first to avoid any errors from experimenting and writing over it repeatedly
import os
try: os.remove('csv_file_for_pandas.csv')
except: pass

In [87]:
my_csv = open('csv_file_for_pandas.csv', 'w+', newline='') #opening in the 'w+' mode truncates the file
#alternatively, open it in 'w' mode and use my_csv.truncate()
my_csv.truncate() # we'll do it anyway for good measure
csv_writer = csv.writer(my_csv)
csv_writer.writerow(['','First','Middle','Beard Style'])
csv_writer.writerow(['Dad','Allen','James','Wizard'])
csv_writer.writerow(['Son','Ryan','Patrick','Battle Dwarf'])
csv_writer.writerow(['Mom','Michele','Leigh','None'])
csv_writer.writerow(['Son','Allen','Michael','Middle-class Hobbit'])
csv_writer.writerow(['Dog','BamBam','Doggo','N/A'])
my_csv.close()

In [88]:
my_csv = open("csv_file_for_pandas.csv") 
csv_reader = csv.reader(my_csv)
csv_data = list(csv_reader)
print(csv_reader)
csv_data

<_csv.reader object at 0x111e4beb8>

[['', 'First', 'Middle', 'Beard Style'],
 ['Dad', 'Allen', 'James', 'Wizard'],
 ['Son', 'Ryan', 'Patrick', 'Battle Dwarf'],
 ['Mom', 'Michele', 'Leigh', 'None'],
 ['Son', 'Allen', 'Michael', 'Middle-class Hobbit'],
 ['Dog', 'BamBam', 'Doggo', 'N/A']]

### Problem 3:

Using a Pandas DataFrame and csv module, create a csv file with numerical data and strings for the row and column headers. Print the:
    
    * Number of rows and columns
    * Column Names
    * A sample of 2 rows
    * A summary of the values

In [107]:
### Write code here
try: os.remove('csv_file_2.csv')
except: pass
my_csv2 = open('csv_file_2.csv', 'w+', newline='')
writer = csv.writer(my_csv2)
writer.writerow(['Name','Games Played','Games Won','Game Time'])
writer.writerow(['Cookie Monster','75','2','6'])
writer.writerow(['Darth Vader','6','100','0'])
writer.writerow(['Link','100','100','100'])
writer.writerow(['Max','14','11','237'])
my_csv2.close()

In [120]:
my_df = pd.read_csv('csv_file_2.csv', index_col = 0)
print("Number of rows:",my_df.shape[0],"\n")
print("Number of columns:",my_df.shape[1],"\n")
print("Column titles:", my_df.columns.values,"\n")
print("Data sample:", "\n", my_df.sample(2),"\n")
print("Data summary:", "\n", my_df.describe())

Number of rows: 4

Number of columns: 3

Column titles: ['Games Played' 'Games Won' 'Game Time']

Data sample:
              Games Played  Games Won  Game Time
Name
Darth Vader             6        100          0
Link                  100        100        100

Data summary:
        Games Played   Games Won   Game Time
count      4.000000    4.000000    4.000000
mean      48.750000   53.250000   85.750000
std       46.009963   54.107147  110.744074
min        6.000000    2.000000    0.000000
25%       12.000000    8.750000    4.500000
50%       44.500000   55.500000   53.000000
75%       81.250000  100.000000  134.250000
max      100.000000  100.000000  237.000000

### Problem 4:

Using the Pandas DataFrame previously created (*prob2_df*), print the:
    
    * Data in the column "Population"
    * The second row
    * The size of the country in the last row

In [147]:
### Write code here

print(prob2_df.iloc[:,1], "\n\n")
print(prob2_df.iloc[[1],:], "\n\n")
print("The population of Brazil is:",prob2_df.iat[4,2])

0    1409517397
1    1339180127
2     324459463
3     263991379
4     209288278
Name: Population, dtype: int64


  Country Name  Population     Size
1        India  1339180127  3287263


The population of Brazil is: 8511965

### Problem 5:

Using the Pandas DataFrame previously created (*prob2_df*), print:
    
    * A series that shows True or False for countries with Sizes greater than 3,500,000
    * A series that shows True or False for countries with Sizes greater than 3,500,000 and Populations smaller than 350,000,000
    * A data frame that only shows the rows for countries with Sizes greater than 3,500,000 and Populations smaller than 350,000,000

In [194]:
#print(prob2_df, "\n")
print(prob2_df.loc[:, "Size"] > 3500000, "\n")
print((prob2_df.loc[:, "Size"] > 3500000) & (prob2_df.loc[:, "Population"] < 350000000), "\n")
print(prob2_df[(prob2_df.loc[:, "Size"] > 3500000) & (prob2_df.loc[:, "Population"] < 350000000)], "\n")

# reference from above, where these methods were first exemplified:
# my_df.loc[:, "Games Won"] > 30
# my_df.loc[my_df.loc[:, "Games Won"] >30]

0     True
1    False
2     True
3    False
4     True
Name: Size, dtype: bool

0    False
1    False
2     True
3    False
4     True
dtype: bool

  Country Name  Population     Size
2          Usa   324459463  9629091
4       Brazil   209288278  8511965

### Problem 6:

Using the Pandas DataFrame previously created (*prob2_df*):
    
    * Change Brazil's population to 250,000,000
    * Change China's size to 9,580,000

In [226]:
#before:
prob2_dict = [{"Country Name":"China", "Population" : 1409517397, "Size" : 9572900},
              {"Country Name":"India", "Population" : 1339180127, "Size" : 3287263},
              {"Country Name":"USA", "Population" : 324459463, "Size" : 9629091},
              {"Country Name":"Indonesia", "Population" : 263991379, "Size" : 1904556},
              {"Country Name":"Brazil", "Population" : 209288278, "Size" : 8511965}]
prob2_df = pd.DataFrame(prob2_dict)
prob2_df

  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965

In [228]:
### Write code here
#after:

prob2_df.at[4,"Size"], prob2_df.at[0,"Size"] = 250000000, 9580000
prob2_df

  Country Name  Population       Size
0        China  1409517397    9580000
1        India  1339180127    3287263
2          USA   324459463    9629091
3    Indonesia   263991379    1904556
4       Brazil   209288278  250000000

### Problem 7:

Using the Pandas DataFrame previously created (*prob2_df*):
    
    * Rename the indices to the first three letters of each country (e.g. 'Chi', 'Ind', 'USA', etc.) and assign the output to a new data frame called prob7_df

In [262]:
#before:
prob2_dict = [{"Country Name":"China", "Population" : 1409517397, "Size" : 9572900},
              {"Country Name":"India", "Population" : 1339180127, "Size" : 3287263},
              {"Country Name":"USA", "Population" : 324459463, "Size" : 9629091},
              {"Country Name":"Indonesia", "Population" : 263991379, "Size" : 1904556},
              {"Country Name":"Brazil", "Population" : 209288278, "Size" : 8511965}]
prob2_df = pd.DataFrame(prob2_dict)
prob2_df

  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965

In [263]:
### Write code here

prob7_df, prob7_df['Country Name'] = prob2_df.copy(deep = True), prob2_df['Country Name'].apply(lambda x: x[0:3])
prob7_df

  Country Name  Population     Size
0          Chi  1409517397  9572900
1          Ind  1339180127  3287263
2          USA   324459463  9629091
3          Ind   263991379  1904556
4          Bra   209288278  8511965

Very pleased with this beautiful example of efficiency in Python, which employs a lambda function to deep copy the library in a single line of code.

### Problem 8:

Using the Pandas DataFrame previously created (*prob7_df*):
    
    * Drop China from the data frame
    * Add a new country at the bottom (Russia, Population = 143,989,754, Size = 17,098,246
    * Save the answer on prob8_df

In [334]:
### Write code here
new_entry_series = pd.Series(["Russia", "143989754", "17098246"], index = ["Country Name", "Population", "Size"])
prob8_df = prob8_df.append(new_entry_series, ignore_index = True)
prob8_df = prob2_df.drop(0)
prob8_df

  Country Name  Population      Size
0        India  1339180127   3287263
1          USA   324459463   9629091
2    Indonesia   263991379   1904556
3       Brazil   209288278   8511965
4       Russia   143989754  17098246

### Problem 9:

Using the Pandas DataFrame previously created (*prob8_df*):
    
    * Sort by Population ascending and in place

In [373]:
### Uh-oh! We start off with an error. Why? Because the values in the Population column are objects.
### The Boolean operators > < don't know what to do. So we must convert the column to integers

prob8_df.sort_values(by="Population", ascending=True)

TypeError: '<' not supported between instances of 'str' and 'int'

In [368]:
### Since this data is coming from a CSV spreadsheet the dtype 'O' (object)

prob9_df = prob8_df.copy(deep = True)

prob9_df["Population"] = prob9_df["Population"].infer_objects()
prob9_df.dtypes

Country Name    object
Population      object
Size            object
dtype: object

In [369]:
# Obviously that didn't work, so we try another method:

prob9_df["Population"] = prob9_df["Population"].apply(pd.to_numeric, errors = 'ignore') #using 'coerce' will attempt to force the conversion, but we will use ignore and follow up by checking the dtype as to avoid any data loss

prob9_df.dtypes

Country Name    object
Population       int64
Size            object
dtype: object

In [370]:
# SUCCESS! There is also another method that will successfully force the conversion:
prob9_df = prob8_df.copy(deep = True)

prob9_df["Population"] = prob9_df["Population"].astype(int)

prob9_df.dtypes

Country Name    object
Population       int64
Size            object
dtype: object

In [386]:
### FINALLY we win:

prob9_df = prob9_df.sort_values(by="Population", ascending=True)
prob9_df

  Country Name  Population      Size
4       Russia   143989754  17098246
3       Brazil   209288278   8511965
2    Indonesia   263991379   1904556
1          USA   324459463   9629091
0        India  1339180127   3287263